<main class="home">
        <section class="name-section">
            <div class="name-text">
                <h1>Pedro Mira Lopes</h1>
                <h3>Computer Engineer, Programmer and web developer</h3>
            </div>
            <a scroll-on-click href="#personal" class="arrow-down-button">
            </a>
        </section>
        <section class="personal-section" id="personal">
            <div class="content-text">
                <article>
                    <h4>
                        Computer Science Master's student at Instituto Superior Técnico
                    </h4>
                    <div class="divider"></div>
                    <h4>
                        Currently finishing my masters's thesis on 3D interaction with Intelligent Buildings and working as a full-stack junior developer at Bimk
                    </h4>
                </article>
            </div>
            <div class="content-image">
                <img src="images/aboutMe2.jpg" alt="about me">
                <div class="content-image-box" ui-sref="about"> ABOUT ME</div>
            </div>
            <div class="content-image">
                <img src="images/portfolio.png" alt="about me">
                <div class="content-image-box"> PORTFOLIO</div>
            </div>
        </section>
        <section class="personal-section" id="personal">
            <div class="content-image">
                <img src="images/otherActivities.jpg" alt="about me">
                <div class="content-image-box" ui-sref="other"> OTHER ACTIVITIES</div>
            </div>
            <div class="content-image">
                <img src="images/contactMe.jpg" alt="about me">
                <div class="content-image-box"> CONTACT ME</div>
            </div>
            <div class="content-text">
                <article>
                    <h4>
                        After having played rugby for a few years, I became passionate about this sport
                    </h4>
                    <div class="divider"></div>
                    <h4>
                        I love to travel and find completely new locations
                    </h4>
                </article>
            </div>
            <a scroll-on-click href="#socialIcons" class="arrow-down-button">
            </a>
        </section>
        <canvas id="background" width="100%" height="200"></canvas>
        <div class="social-icons" id="socialIcons">
            <ul>
                <li>
                    <a href="https://twitter.com/PedroMiraLopes" class="button twitter"></a> 
                </li>
                <li>
                    <a href="https://www.facebook.com/pedro.miralopes" class="button facebook"></a> 
                </li>
                <li>
                    <a href="https://www.linkedin.com/profile/view?id=AAMAABLRKiEBWGOiBwWHw8A5R3bMJ2KaDpVYAuY&trk=hp-identity-photo" class="button linkedin"></a> 
                </li>
                <li>
                    <a href="https://www.instagram.com/pfmiralopes/" class="button instagram"></a> 
                </li>
            </ul>
        </div>
    </main>