<main class="other-activities">
    <div class="other-activities-image"></div>
    <!--
    -->
    <div class="other-activities-content">
        <article>
            <div class="other-activities-name">
                Pedro
                <br>
                <span class="darkGreen">Mira Lopes</span>
            </div>
            <div class="arrow-down-button" scroll-on-click href="#otherActivitiesText"></div>
            <div class="other-activities-title-section">
                <img src="../images/Me.jpg" class="img-circle" alt="Cinque Terre" width="120" height="120">

                <div class="other-activities-title">
                    <h3>OTHER ACTIVITIES</h3>
                    <h3 class="darkGreen">AND SOME OF MY FOLLIES</h3>
                </div>
            </div>

            <p id="otherActivitiesText" class="other-activities-text">
             I'm a former federated rugby player, having played for two years in C.F. Belenenses in the U18 portuguese rugby championship. As result, I became a pasionated supporter of this sport, go All Blacks! Also, I played hanball for 3 years in GEDA and C.F.
            </p>
            <p>
              In 2012 I done voluntary work, teaching how to use computers, mail and Facebook to elder peolple, and persons with 
people with mental illness, at Casa da Cultura e Bem Estar.
            </p>
            <p>
               As my main hobbies, I love to go to the gym and jogging by the sea.
            </p>

            <div class="other-activities-social">
                <ul>
                    <li>
                        <a href="https://twitter.com/PedroMiraLopes" class="button twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/pedro.miralopes" class="button facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/profile/view?id=AAMAABLRKiEBWGOiBwWHw8A5R3bMJ2KaDpVYAuY&trk=hp-identity-photo" class="button linkedin"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/pfmiralopes/" class="button instagram"></a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</main>