<html lang=en>

<head>
    <meta charset="utf-8">
    <title>Pedro Mira Lopes</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/site.css">

    <!-- Javascripts -->
    <script type="text/javascript" src='../bower_components/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='../bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type="text/javascript" src="../bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script type="text/javascript" src='../bower_components/gsap/src/uncompressed/plugins/ScrollToPlugin.js'></script>
    <script type="text/javascript" src='../bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js'></script>
    <script type="text/javascript" src='../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js'></script>
    <script type="text/javascript" src='../bower_components/gsap/src/uncompressed/TimelineMax.js'></script>
    <script src="../js/site.js"></script>
    <script type="text/javascript">
        $(function () {
            var controller = new ScrollMagic.Controller();

            //
            // section 3
            //

            var timeline31 = new TimelineMax()
                .add(TweenMax.to("#box1 .box-img", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }), 0.3)
                .add(TweenMax.to("#box1 .box-text", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }), 0.3);
           /* var timeline32 = new TimelineMax()
                .add(TweenMax.to("#box2 .box-text", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }))
                .add(TweenMax.to("#box2 .box-img", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }), 0);

            var timeline33 = new TimelineMax()
                .add(TweenMax.to("#box3 .box-img", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }))
                .add(TweenMax.to("#box3 .mini-box", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }), 0.2)
                .add(TweenMax.to("#box3 .box-text", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }), 0.4);

            var timeline34 = new TimelineMax()
                .add(TweenMax.to("#box4 .mini-box", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }));

            var timeline35 = new TimelineMax()
                .add(TweenMax.to("#box5 .box-text", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }))
                .add(TweenMax.to("#box5 .box-img", 1, {
                    scale: 1,
                    ease: Expo.easeOut,
                    opacity: 1
                }), 0);*/

            new ScrollMagic.Scene({
                    triggerElement: "#box1",
                    reverse: false
                })
                .setTween(timeline31)
                .addTo(controller);
           /* new ScrollMagic.Scene({
                    triggerElement: "#box2",
                    reverse: false
                })
                .setTween(timeline32)
                .addTo(controller);
            new ScrollMagic.Scene({
                    triggerElement: "#box3",
                    reverse: false
                })
                .setTween(timeline33)
                .addTo(controller);
            new ScrollMagic.Scene({
                    triggerElement: "#box4",
                    reverse: false
                })
                .setTween(timeline34)
                .addTo(controller);
            new ScrollMagic.Scene({
                    triggerElement: "#box5",
                    reverse: false
                })
                .setTween(timeline35)
                .addTo(controller);*/
        });
    </script>
</head>

<body>
    <main class="work">
        <div class="title">
            <img src="../images/3DImage.jpg" alt="3D image">
            <span><b>WHAT HAVE I BEEN UP TO</b></span>
        </div>
        <div class="box" id="box1">
            <div class="box-img titleImage"></div>
            <div class="box-text right">
                <h3><b>WHAT HAVE I BEEN UP TO</b></h3>
            </div>
        </div>
        <!--<div class="box" id="box1">
            <div class="mini-box pen">
            </div>
            <div class="box-text right">
                <div class="cicle-text left medium-box-width small-box-height cyan-box">
                    <h3>CATALOGUE</h3>
                    <p>Whether in the first moment, while creating your products and turning them into objects to include in a catalog.</p>
                </div>
            </div>
        </div>
        <div class="box medium-box-height" id="box2">
            <div class="box-text left">
                <div class="cicle-text right medium-box-width medium-box-height dark-blue-box">
                    <h3>PRODUCTS DISPLAY</h3>
                    <p>Whether when they are presented on the platform ...</p>
                </div>
            </div>
            <div class="box-img palette">
            </div>
        </div>
        <div class="box  big-box-height" id="box3">
            <div class="box-img big-box-height draw left"></div>
            <div class="mini-box resize"></div>
            <div class="box-text left larger-box-height">
                <div class="cicle-text left medium-box-width larger-box-height dark-blue-box">
                    <h3>USERS</h3>
                    <p>Whether when they are integrated by specifiers in their projects ...</p>
                </div>
            </div>
        </div>
        <div class="box" id="box4">
            <div class="mini-box brush"></div>
        </div>
        <div class="box  medium-box-height" id="box5">
            <div class="box-text left medium-box-height">
                <div class="cicle-text right medium-box-width medium-box-height green-box">
                    <h3>BUILDING</h3>
                    <p>Or even during the process of construction and maintenance.</p>
                </div>
            </div>
            <div class="box-img medium-box-width medium-box-height building left"></div>
        </div>-->
    </main>

</body>

</html>